**Say Hello World With Python**

In [1]:
print("Hello, World!")

Hello, World!

#### Python - If Else

**Given an integer, , perform the following conditional actions:**

* If  is odd, print Weird
* If  is even and in the inclusive range of  to , print Not Weird
* If  is even and in the inclusive range of  to , print Weird
* If  is even and greater than , print Not Weird

In [3]:
import math
import os
import random
import re
import sys




n = int(input())

if n % 2 != 0:
    print("Weird")
elif n % 2 ==  0 and 2 <= n <=5:
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

24
Not Weird

#### Arithmetic Operators

**The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:**

* The first line contains the sum of the two numbers.
* The second line contains the difference of the two numbers (first - second).
* The third line contains the product of the two numbers.

In [5]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a+b, a-b, a*b, sep = '\n')

5
2
7
3
10

#### Python Division

**The provided code stub reads two integers,  and , from STDIN.**

* Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

* No rounding or formatting is necessary.

In [6]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a//b, a/b, sep = '\n')

6
2
3
3.0

#### Loops

**The provided code stub reads an integer, , from STDIN. For all non-negative integers , print .**

In [7]:
if __name__ == '__main__':
    n = int(input())
for i in range(n):
    if i >= 0 and i < n:

        print(f'{i**2}')

6
0
1
4
9
16
25

**An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.**

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [9]:
def is_leap(year):
    leap = False

    # Write your logic here
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        leap = True
    return leap

year = int(input())
print(is_leap(year))

2004
True

#### Print Function

**The included code stub will read an integer, , from STDIN.**

Without using any string methods, try to print the following:


Note that "" represents the consecutive values in between.

In [11]:
n = int(input())
for ele in range(1,n+1):
    print(ele,end ='' )

5
12345